/* Root */
body {
    width: 100%;
    max-width: 1080px;

    margin: auto;

    background-color: var(--background);
}

/* Background */
.background-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Header */
.header {
    height: 6vh;
    max-height: 75px;
    min-height: 45px;

    display: flex;
}

.small-logo, .identification {
    flex: none;

    margin-top: auto;
    margin-bottom: auto;
}

.small-logo {
    margin-left: 2vw;
}

.identification {
    margin-left: auto;
    margin-right: 1vw;
}

.sign-button {
    display: block;
    position: relative;
    float: left;

    margin-left: 5px;
}

.profile {
    display: block;
    
    margin-left: 5px;
}

/* Footer */
footer {
    height: 48px;

    padding-top: 12px;

    background-color: var(--black);
}

/* Main View */
.main-view {
    position: relative;
    height: 94vh;
    width: inherit;

    overflow: hidden;
}

/* Home */
.monallog-home {
    position: absoulte;

    display: flexbox;
}

.home-content {
    position: absolute;
    top: 35vh;
    
    width: 100%;
}

.main-logo {
    margin-bottom: 5vh;
}

.search {
    margin: auto;
}

/* Channel */
.monallog-channel {
    position: absolute;

    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
}

.line-area {
    position: relative;
    flex: 1;
}

.line-area .channel-notice {
    position: absolute;
    z-index: 10;
}

.line-area .m-line {
    z-index: 5;
}

.post-line {
    margin-top: auto;
    margin-bottom: 0.5%;

    display: flex;
}

.line-text {
    flex: 1;

    margin-left: 1%;
}

.line-button {
    box-sizing: content-box;

    margin-left: 1%;
    margin-right: 1%;
    padding: 0px;
}